*{
	margin:	0;
	padding: 0;
	text-decoration: none;
}
body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
/*	background-image: url("../img/background.png");*/
	background-color: rgb(225,225,225);
}


/*Cabeçalho*/
#navegacao{
	background: #FFF;
/*	border-bottom: 1px solid #fff;*/
	height: 45px;
/*	position: fixed;*/
	width: 100%;
	top: 0;
	background-image: linear-gradient(black, rgba(225,225,225,1));
	opacity: 1;
}

#area{
	width: 720px;
	margin: 0 auto;
}

#area-1{
	width: 70%;
	margin: 60px 60px 0 50px;
	float:right;
	box-shadow: 0 0 10px rgba(11,11,11,0.2);
	background: white;

/*	box-shadow: 0 0 7px 0px rgba(0,0,0,0.2);*/
}

#postagem{
	background: #fff;
	padding: 10px; /*10px 50px 10px;*/
	margin-bottom: 10px;
}

#area-direita{
	width: 20%;
	margin: 55px 55px 10px 25px;
	float:right;
	background: white;
	box-shadow: 0 0 10px rgba(11,11,11,0.2);
}

#logo{
	float: left;
}

#menu{
	float: right;
	padding: 15px 0;
}

#menu-novo{
	width: 20%;
	margin: 60px 60px 0 50px;
	float: left;
	background: white;
	box-shadow: 0 0 10px rgba(11,11,11,0.2);
	position: absolute;
}



#teste{
	background-image: url("gemeos.jpg")
}

#topo{
	background-color: rgb(41,41,41);
	width: auto;
	height: 200px;
}

/*Formatação do Menu*/
/*PROPRIEDADES*/
a{
	text-decoration: none;
	padding: 5px 10px;
	color: red;
	opacity: 1;
	font-size: 18px;
}

a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
/*	color: black;*/
/*	background: #F6CEEC;*/
/*	border-radius: 0px;*/
	transition: border-bottom 0.8s;
	text-decoration: none;
	border-bottom: 1px solid;
	
}
a:active{
	color: #FFF;
	text-decoration: none;
}

h2{
	color: #86B404
}

/*Links hover*/
/*Links active*/
/*Classes*/
.nomelogo{
	color: #F781D8;
}
.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #aaa;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin: 0 10px 10px 0;
	width: 30%;
	height: 30%;
}

.postado{ 
	border-left: 2px solid #aaa;
	padding-left: 5px;
	display: block;
	margin-top: 30px;
	border-bottom: 1px solid #aaa;
/*	margin: 10px 0 20px 0;*/
}

.redimensionar{
	float: left;
	margin: 0 10px 10px 0;
	width: 40%;
}